<div class="card">
  <a routerLink="/" class="card_link">
    <button type="button" class="btn btn-primary">Home</button>
  </a>
  <div class="tab">
    <ul class="tab_list">
      <li
        [ngClass]="type === tabId ? 'active' : ''"
        *ngFor="let type of types"
        [id]="type"
        (click)="tabchange(type)"
        [class]="type"
      >
        {{ ucFirst(type) }}
      </li>
    </ul>
  </div>

  <div class="content">
    <ng-container *ngFor="let type of types">
      <app-list-card [itsType]="type" *ngIf="tabId === type"></app-list-card>
    </ng-container>
  </div>
</div>
